* {
  word-wrap: break-word!important;/*自动wrap长词*/
  /*zoom: 1;*/
}

div[data-id=definition] + div[xmlns\:mwref] {
	color: red;
	line-height: 1.3em;
	font-size: 100%;
}
div[data-id=definition] + div[xmlns\:mwref] em {
	color: green;
	margin-left: .3em;
	margin-right: .3em;
}

body {margin:12px; padding: 0; word-wrap: break-word!important; font-family: Bookerly, Optima, Playfair Display, Georgia, Arial, Verdana, "Microsoft YaHei","Microsoft JhengHei", sans-serif;line-height:1em;font-size: 100%;}

.wrapper{
	background-color: #E7F5F5;}

.hdword {
	font-family: Arial,Georgia;
	display:inline;
	color:#C7254E;
	font-size: 20px;
	color: #CA0403;
	vertical-align:middle;
	line-height:28px;
	margin-left:.5em;
	/*词头属性*/
}
.hdword sup {
	position: relative;
	top: 0.2em;
	margin-right: .2em;
	font-size: 10px;
	font-weight: bold;
}

.fl {
	margin:0 8px 0 10px;padding:0;
	display:inline;
	font-size:14px;
	font-style:italic;
	vertical-align:middle;
	line-height:22px;
	color: #8f0610;
	font-family: Bookerly, Optima,Playfair Display,Georgia, Arial, Verdana, "Microsoft YaHei","Microsoft JhengHei", sans-serif;
}
.fl-xtra {
	margin:0 8px 0 0;padding:0;
	display:inline;
	font-size:14px;
	font-style: italic;
	vertical-align:middle;
	line-height:22px;
	font-family:Bookerly, Optima, Playfair Display,Georgia, Arial, Verdana, "Microsoft YaHei","Microsoft JhengHei", sans-serif;
}
.pron {
	margin:0 12px 0 5px;padding:0;
	display:inline;
	font-size:14px;
	color:#666666;
	vertical-align:middle;
	line-height:29px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html body div .audio {
	margin:0 12px 6px 0;padding:0;
	display:inline-block;
	vertical-align:middle;
}
.audio img {
	margin:0;padding:0;
}
.img-label {
	margin:0 8px 7px 0;padding:0;
	display:inline-block;
	vertical-align:bottom;
}
.wrapper.wrapper-advsearch .img-label
{	margin:0 8px 4px 0;
}
.img-label img {
	margin:0;padding:0;
}

.inf-forms .in{
	line-height: 1.3em;
	/*词头曲折变化*/
}

.inf-forms .in em, .inf-forms .in-more em{
	color: #009900;
	font-style: italic;
	margin-left: .2;
	margin-right: .2;
}

.inf-forms .in strong, .inf-forms .in-more strong{
	color: #032952;
	font-weight: bold;
	margin-left: .3em;
	margin-right: .2em;
	font-size: 100%;
}
.inf-forms .in .pr{
	color: #717274;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-left: 1em;
	margin-right: 1em;
}

a.button-pronounce {
  display: none;
}
/* audio button will be added later
.icon-pronounce {
  display: block;
  background: url('../../img/mw/mwunabridged.png') -9px -61px no-repeat;
  width: 19px;
  height: 18px;
}*/
.d .sblk .snum, .scnt .ssens strong{
	color: #2160eb;
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
	/*数字释义项*/
}

.scnt a, .sr a{
	font-weight: normal;
	margin-left: .2em;
	text-decoration:none;
	border-bottom: 1px #0099CC dotted
	/*
	词条释义部分 also: - comapare 跳转词属性；
	Related to... 部分See Synonym Discussion at...跳转词属性*/
}

.sblk div{display: inline;}
.ssens .sn, .ssens .ssn{
	/*position:relative;
	left: 10px;*/
	color: #2160eb;
	/*font-weight: bold;*/
	/*margin-left: .5em;*/
	font-style: normal;
	/*释义小写字母项属性*/
}
.ssens {

	/*display:block;/**/
	font-size: 100%;
	line-height: 1.3em;
	/*margin-left:.5em;
	/*调整小写字母义项子义项左边距无效;
	数字和字母子义项属性*/
	/*数字及转小写字母义项释义部分内容属性*/
}
.ssens:after{
	content: "";
	display: block;
	height: .5em;
	clear: both;
	/*释义及子义项之后的空间*/
}

.ssens a{
	color: #1122cc;
	margin: .2em .2em .2em .2em;
	text-decoration:none; /*CSS下划线效果：无下划线*/
    border-bottom: 1px #0099CC dotted /*CSS加一个只有下边的框 边框为虚线*/
}

.vi{
	display:block;
	margin-left: 1em;
	color: #336699;
	font-size: px;
	line-height: 1.3em;
	/*例句属性*/
}
.vi em{
	font-style: italic;
	margin-right: .2em;
	color: #0066cc;
	font-weight: normal;
	/*例句中词头及出处属性*/
}
.break{
	display:block;
}

.content-body h2 {
  margin:1em 0 1em 0;
  clear:both;
  color::#666666;
  font-size:1.2em;
  width:100%;
  /*
  Origin of ...
  Related to...
  First Known Use of...
  */
}
.content-body h2 span,
.content-body h2 span.text {margin:0;padding:0 5px 0 0;background-color:#ffffff;}

.etymology .sub-well{
	background-color: #FFFFE7;
	font-size:100%;
	line-height: 20px；
	/*词源 “Origin of *” 内容属性，如背景色*/
}

.etymology .sub-well a,
.etymology .sub-well a:hover,
.etymology .sub-well a:link,
.etymology .sub-well a:visited
{	color:#1122CC;
	font-weight: normal;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 100%;
	/*词源部分相互参考cf 跳转词*/

}

.etymology .sub-well p em, .etymology .sub-well sup{
	color: #d04449;
	font-style: italic;
	margin-left: .2em;
	margin-right: .2em;
	/*词源溯源词属性*/
}
.etymology .sub-well p a{
	margin-left: .2em;

}

.d .vt{
	color: #8f0610;
	font-style: italic;
	font-weight: bold;
	line-height: 2em;
	/*
	及物动词&不及物动词标识属性*/

}

dl dt{
	padding: 0 .35em 0 .5em;
	margin-left:1.45em;
	border-radius: .4em;
	letter-spacing: .08em;
	color: #3563eb;
	font-weight: 700;
	font-size: 90%;
	line-height: 2em;
	background-color:#e2f4fd;
	/*
	Related to...子项目 Synonyms: Antonyms：Related Words：Near Antonyms：属性*/
}

dd a{
	margin-left: .3em;
	font-size: 95%;
	line-height: 1.5em;
	text-decoration:none; /*CSS下划线效果：无下划线*/
	border-bottom: 1px #0099CC dotted /*CSS加一个只有下边的框 边框为虚线*/
	/*
	Related to...子项目 Synonyms: Antonyms：Related Words：Near Antonyms：内容属性*/
}

.variants em{
	margin-right: .2em;
	color: #808080;
}
.variants strong{
	color: #032952;
	margin-left: .2em;
	margin-right: .2em;
}

.variants .pr, .inf-forms .pr{
	color: #717274;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-left: .3em;
	margin-right: .5em;
}

.vl{
	line-height: 3em;
	/*短语搭配词头*/
}

.syn{
	background-color: #FCF1E4;
	/*Synonym Discussion 区域属性*/
}
.syn strong{
	font-weight: bold;
	color: #0b5bc4;
	font-size: 110%;
	margin-right: .3em;
	/*“Synonym Discussion:”属性*/
}
.syn .sc{
	color: #0066cc;
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
	line-height: 1.5em;
	/*近义词属性*/

}
.syn:after{
	content: "";
	display: block;
	height: .6em;
	clear: both;
	/*近义词辨析之后的空白区域属性*/
}

.dr strong{
	margin-left: .2em;
	color: 	#032952;
	font-size: 115%;
	line-height: 1.5em;
	/*headword搭配，动词短语，介词短语*/
}
.dl strong {
	color:goldenrod;
	font-weight:bold;
	/*自加内容不生效*/
}

.d em{
	color: #102099;
	margin: 0 .2em 0 .5em;
	/*释义内headword、语域、惯用搭配次小品词、plural、informal、例句中的搭配，（不规则）屈折变化*/
}

.in .ix{
	color: #808080;
	font-style: italic;
}

a.play_pron img{
	margin-right: 0.5em;
    font-size: 14px;
    font-weight: normal;
	height: 1em;
	cursor: pointer;
	margin-bottom: -3px;
    font-family: Lucida Sans Unicode, Lucida Grande;
}

.tab li a{
	font-weight: 500;
	font-size: 105%;
	color: #2160eb;
	line-height: 1.5em;
	text-decoration:none; /*CSS下划线效果：无下划线*/
    border-bottom: 1px #0099CC dotted /*CSS加一个只有下边的框 边框为虚线*/
}

.tab li a span sup{
	font-size: 70%;
	text-decoration:none;
	/*
	词头导航，跳转
	CSS下划线效果：无下划线*/
}
.container ul{
	/*list-style: none*/
	color: #2160eb;
	background-color: #FFFFE7;
	/*
	词头导航区域属性
	*/
}

/* 2020.08.13 */

/* audio-icon, aback, take */
.play_pron {}
.play_pron img {}
.audio .play_pron {}
.audio .play_pron img{}

/* toggle-more */
.accordion-heading {
	display: none;
}

/* plus-icon */
.toggle-icon{
	display: none;
}

/* nav with single headword*/
.tab {
	display: none;
}

/* nav with multi headwords */
.tab.multi {
	display: block;
}

/* phrase container, take a bath */
.container.phrase {}

/* picture */
.art .art-image img{}
.arg .art-caption {}
