@font-face {
	font-family:"JosefinSlab";
	src: url('/wikit/static/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
}

body{
	font-size: 13px !important;
  line-height: 1.4em !important;
  color: #333 !important;
  font-family: tahoma,"Microsoft YaHei UI",arial,'Hiragino Sans GB','宋体b8b\4f53',sans-serif !important;
}

.hwrap h2 {
  font-family: "JosefinSlab";
  font-size: 20px;
  color: orangered;
  margin: 4px 0 6.5px;
  display:inline-block;
}

.hwrap hr {
	height:4px;
	background-color:#d13636;
	background-color:rgba(221,60,77,.95);
	background-image:-webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#e75239),color-stop(12.5%,#e75239),color-stop(12.5%,#ff961c),color-stop(25%,#ff961c),color-stop(25%,#ffcc27),color-stop(37.5%,#ffcc27),color-stop(37.5%,#fce62f),color-stop(50%,#fce62f),color-stop(50%,#cde35b),color-stop(62.5%,#cde35b),color-stop(62.5%,#82cc33),color-stop(75%,#82cc33),color-stop(75%,#41bece),color-stop(87.5%,#41bece),color-stop(87.5%,#049cdb),color-stop(100%,#049cdb));
	background-image:-webkit-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-moz-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-o-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-position:50% 0;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
	box-shadow:0 1px 2px rgba(0,0,0,.0625) inset;
	margin:0 0 10px;
	border:none;
}

.hwrap .git{
	display: inline-block;
margin-left: 6px;
}
.git .ipa{
color: Sienna;
}
.git .frm{
	margin-left: 10px;
color: #004085;
}
.onm{
	margin-left:5px;
}
.gdc{
margin-top:6px;
}
.gdc .dcb{
	font-size:14px;
}

.gdc .pos{
font-family: Georgia !important;
font-style: italic;
font-weight: bold;
color: orangered;
margin-right:10px;
line-height: 22px;
font-size:120%;
}
.pf img{
display:none;
}
.reverse.Sizeclunkn{
	display:none !important;
}

.pf img{width:22px;height:22px;margin:0 6px 2px 0;border:none;}
.coca {
	margin-top:4px;
	position:relative;
}
.coca:not(.iweb){
	display:none;
}
.coca:after,.srank:after{
content: "";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
.srank{
	margin: 0px 0 7px;

}
.lemmas{
	display:inline;
	margin-left:12px;
}
.mobile .lemmas{
	display:block;
	margin-left:0;
}

.mobile .lemmas::before {
content: " ✪ ";
font-size: 22px;
color: #cc9900;
padding-left:13px;
position: relative;
display:inline-block;
top:3px;
width:46px;
}
.srank h3{
display: inline-block;
text-decoration: none;
padding: 0 1px;
font-size: 14px;
margin: 2px 5px 1px 0;
display: inline-block;
-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.175);
box-shadow: 2px 2px 2px rgba(0,0,0,.175);
color: #856404;
background-color: #fff3cd;
border: 1px solid #ffeeba;
font-size:12px;
}
.srank .rank,.srank .total{
	float:none;
}
.srank .total{
	margin-left:16px;
}

.srank .rank{
	color:dodgerblue;
}
.word {
	display:none;
	font-weight: bold;
	float: left;
	clear: left;
	font-size: 1.1em;
}

.coca .pos {
	font-weight: bold;
	float: left;
	text-align: center;
			clear:left;
		margin-left: 0.75em;
	color:#fff;
	padding: 0 1.5px;
color: #fff;
text-align: center;
white-space: nowrap;
border-radius: 2.5px;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36);
background:#35a3ff;
margin: 1px 0.75em 1px 0 ;
font-size: 12px;
}
.coca .pos:nth-of-type(1){
	background:#35a3ff;
}
.coca .pos:nth-of-type(3){
	background:orangered;
}
.coca .pos:nth-of-type(5){
	background:#CC9933;
}
.coca .pos:nth-of-type(7){
	background:#5cb85c;
}
.coca .pos:nth-of-type(9){
	background:#99CC99;
}
	.mobile.coca .title{
		font-size:0.8rem;
		padding:0.3em 0.5em;
	}
.mobile .total{

}
.coca .pos:after {
	content: ".";
	margin-right: 0.3em;
}

.rank {
	color: orangered;
	font-weight: bold;
	float: left;
	width:85px;
	position:relative;
}

.rank:before {
	content: "RANK";
	font-weight: normal;

	font-size: 0.9em;
	margin-right: 0.3em;
	color:#333;
}

.total:before {
	content: "FREQ";
	font-weight: normal;
	color:#333;
	font-size: 0.9em;
	margin-right: 0.3em;
	right:0;
}

.total {
	float: left;
	position: relative;
font-size: .9em;
line-height: 1.7em;
color: orangered;
width:90px;
}

.total:hover, .total-active {
	text-decoration: underline;
	cursor: pointer;
}

.table {
	font-size: 0.9em;
	clear: left;
	display: none;
	height: 8em;
	position: absolute;
	top:20px;
	left:0;
	z-index:99;
}

.table .spoken, .table .fiction, .table .magazine, .table .newspaper, .table .academic {
	float: left;
	text-align: center;
	border: 1px solid rgba(220, 220, 220, 1);
	border-right: none;
	background:#fff;
}

.table .academic {
	border-right: 1px solid rgba(220, 220, 220, 1);
}

.title {
	border-bottom: 1px dotted rgba(220, 220, 220, 1);
	padding: 0.3em 0.68em;
	font-size: 1em;
	background:#fff;
}

.percent {
	height: 3em;
	border-bottom: 1px dotted rgba(220, 220, 220, 1);
	position: relative;
}

.percent-post {
	width: 0.6em;
	border: 1px solid rgba(0, 0, 0, .2);
	background-color: #ccc;
	position: absolute;
	left: 50%;
	margin-left: -0.3em;
}

.spoken .percent-post {
	background-color: rgba(160, 222, 165, 1);
}

.fiction .percent-post {
	background-color: rgba(145, 200, 222, 1);
}

.magazine .percent-post {
	background-color: rgba(222, 190, 130, 1);
}

.newspaper .percent-post {
	background-color: rgba(222, 135, 133, 1);
}

.academic .percent-post {
	background-color: rgba(212, 181, 222, 1);
}

.freq {
	font-size: 0.94em;
	padding: 0.3em 0.8em;
}

.pos-percent {
	float: left;
	font-size: 0.8em;
	margin-left: 0.4em;
	position: relative;
}

.pos-percent-block {
	float: left;
	height: 1em;
	background-color: #99CCFF;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
	position: relative;
	bottom: -0.4em;
}

.pos-percent-text {
	float: left;
	font-weight: bold;
	color: orangered;
	margin-left: 0.2em;
	line-height:1.8em;
}
.coca2{
	font-family:"Microsoft YaHei UI",tahoma;
	margin-top: 3px;
}
.epfd{
	display:inline-block;
	margin-right:1em;
	color:red;
     margin-top: 7px;
}
sup{
	color: red;
margin-right: 1.2em;
font-weight: bold;
vertical-align: text-top;
font-size: 13px;
font-family:"Microsoft YaHei UI";
}
sup::before{
	content: "\272A";
font-size: 20px;
color: #cc9900;
padding-left: 1px;
padding-right: 3px;
}
.epfd .freq,.epfd .cmpt,.epfd .dict,.epfd .spoken{
margin-right:0.5em;
	color:#fff;
	padding: 1.5px;
font-size: 12px;
font-weight: 700;
color: #fff;
text-align: center;
white-space: nowrap;
border-radius: 2.5px;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36);
}
.epfd .freq{
	background:#337ab7;
}
.epfd .cmpt{
	background:#5cb85c;
}
.epfd .dict{
	background:#5bc0de;
}
.epfd .spoken{
	background:#f0ad4e;
}
.word-frequency{
	margin-top:4px;
}
.title2 {
display:none;
}

.label {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom:2px;
    padding:0.5px 3px;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 2.5px;
    margin-right:5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.36);
}

.label-primary {
    background-color: #337ab7;
}
.label-success {
    background-color: #5cb85c;
}
.label-info {
    background-color: #5bc0de;
}
.label-warning {
    background-color: #f0ad4e;
}



 .level {
    border-radius: 100%;
    overflow: hidden;
    display:inline-block;
    vertical-align: bottom;
    margin:0 0.5px 4px 0.5px;
}
 .level1 {
    width: 8px;
    height: 8px;
}
 .level2 {
    width: 9px;
    height: 9px;
}
 .level3 {
    width: 10px;
    height: 10px;
}
 .level4 {
    width: 11px;
    height: 11px;
}
 .level5 {
    width: 12px;
    height: 12px;
}
.round {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
     border-radius: 100%;
}
.roundRed {
    background-color:orange;
    overflow: hidden;
    border-radius: 100%;
}
