/* @font-face {
  font-family: "optima";
  src: url("Optima.woff") format("woff");
}

@font-face {
  font-family: "SYSong";
  src: url("SourceHanSerifCN-Regular.woff") format("woff");
} */
/* 既然字体不好调，那就请大家在自己的设备上调试自己喜爱的字体吧 */
/* START 字体设置 */

/* 总 */

.hycd_3rd {
  letter-spacing: normal;
  font-size: 16px;
  /* font-family: "optima", "SYSong"; */
}

.pinyin {
  font-family: "Consolas";
  /* color: rgb(151, 151, 151); */
}

/* 中文释义 */

span.hycd_3rd_zh {
  /* font-family: "SYSong"; */
  padding-right: 0.5rem;
}

/* 英文释义 */

span.hycd_3rd_en {
  font-size: 0.92rem;
  font-family: "noto serif";
}

/* END 字体设置 */

td {
  padding: 0px;
}

.hycd_3rd_part tr {
  line-height: 1rem;
}

.hycd_3rd_part {
  margin-bottom: 1rem;
}

tr[valign="top"] > td[align="center"] {
  display: none;
}

.citouci {
  display: inline;
}

td[width="24"] {
  /* 在词条开头，没有内容的东西   */
  display: none;
}

td[width="1"] {
  /* 一条小线 */
  display: none;
}

.citouci + td + td {
  display: inline;
}

/* td[colspan="2"] {
    font-weight: 600;
} */

table > tbody > tr:nth-child(1) > td:nth-child(1) {
    padding-top: 0.15rem;
  font-size: 1rem;
  font-weight: 600;
}

table > tbody > tr:nth-child(1) > td:nth-child(1) > .hycd_3rd_en {
  /* font-family: "SYSong"; */
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.top_cixing_list {
  display: inline;
}

.top_cixing_list .chixing {
  padding-left: 4px;
}

/* 例句/释义 中文 */

span.hycd_3rd_zh {
  display: inline;
}

/* 例句/释义 英文 */

span.hycd_3rd_en {
  color: rgb(134, 127, 127);
}

tbody > tr[valign="top"] {
  font-weight: 600;
  display: inline-block;
  font-size: 1.5rem;
}

tbody > tr[valign="top"] + tr[valign="top"] {
    font-weight: 500;
    font-size: 1rem;
  }

.top_cixing_list {
  font-size: 1.1rem;
}

.top_cixing_list.single {
  display: none;
}

.top_cixing_list .chixing {
  font-weight: 600;
  display: inline;
  padding-right: 0.2rem;
}

/* START 词性侧边栏 */

.hycd_3rd_cixing {
  height: fit-content;
  position: fixed;
  bottom: 30%;
  right: 0px;
}

.hycd_3rd_cixing .hycd_3rd_cixing_part {
  display: block;
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid;
  margin-bottom: 2px;
  width: 1.5rem;
  height: 1.6rem;
  text-align: center;
  padding-top: 0.3rem;
  opacity: 0.28;
}

.hycd_3rd_cixing .hycd_3rd_cixing_part a {
  color: white;
}

.hycd_3rd_cixing .hycd_3rd_cixing_part a:link {
  /* font-weight: 600; */
  color: white;
}

.hycd_3rd_cixing .hycd_3rd_cixing_part a:link:visited {
  color: white;
}

.hycd_3rd_cixing_part.placeholder {
  display: none;
}

/* END 词性侧边栏 */

/* START 拼音侧边栏 */

.hycd_3rd_pinyin {
  height: fit-content;
  counter-reset: pinyincounter;
  position: fixed;
  bottom: 60%;
  right: 0px;
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part {
  border-radius: 0.25rem;
  display: block;
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid;
  margin-bottom: 2px;
  width: 1.35em;
  height: 1.6em;
  text-align: center;
  padding-top: 0.3em;
  /* padding-left: 0.25rem; */
  padding-right: 0.2rem;
  opacity: 0.27;
  counter-increment: pinyincounter;
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part a::before {
  font-size: 1rem;
  font-style: italic;
  content: counter(pinyincounter);
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part a {
  font-size: 0px;
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part a {
  color: white;
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part a:link {
  color: white;
}

.hycd_3rd_pinyin .hycd_3rd_pinyin_part a:link:visited {
  color: white;
}

.hycd_3rd_pinyin_part.placeholder {
  display: none;
}

/* END 拼音侧边栏 */

a:link {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

/* 词头的1 2 上标 */
.citoucictsb {
  font-size: 1rem;
  vertical-align: super;
}
/* 拼音 */

font[color="#ffa500"] {
  padding-left: 0.5rem;
  color: rgb(163, 57, 57);
  font-size: 1.1rem;
}

tr {
  height: auto;
}

/* 在这个 CSS 中图片有关的都会隐藏 */

img {
  display: none;
}

a[href*="file://imgs/"]
{
  display: none;
}

a[href*="[ACTION]JumpPinYin"] {
    pointer-events:none; 
}

.hycd_3rd_pinyin.hidden {
    display: none;
}

.hycd_3rd_cixing.hidden {
    display: none;
}