.hw {
    color: #069460;
    font-weight: 500;
    background-color: #E8EBBE;
    font-size: 20px;
}
.hw:before {
    content: "『";
    color: #8b0000;
    vertical-align: top;
    font-size: 70%
}
.hw:after {
    content: "』";
    color: #8b0000;
    vertical-align: bottom;
    font-size: 70%
}
.hla {
    color: #006621;
    margin: 0 1px;
}
img {
    display: block;
    max-width: 100%
}
.sy {
    margin-top: 6pt;
}
.sya {
    color: #1a0dab;
}
.syb {
    color: #1a0dab;
}
.st {
    color: ;
    margin-left: 10pt;
}
.zm {
    color: #70757a;
}
.xh {
    color: #1a0dab;
}
.yy {
    color: #4285f4;
}
span.zy {
    color: #4285f4;
}
.py {
    margin-right: 6pt;
    background-color: rgb(250, 229, 176);
    border: 1px solid #FAD163;
}
.tpm {
    font-weight: 500;
}
.tpm:before {
    content: "——";
    font-weight: 500;
    margin-left: 40pt;
}
