.head {display:none;}
.headword {display:block; font-size:120%; color:midnightblue; font-weight:bold;}
.pinyin {display:block; color:darkslateblue;}
.PoS {padding:0 0.2em 0 0.1em; border-radius:1px; font-size:90%; color:white; background-color:black; font-weight:bold;}
div.example {display:block;}
.ex_m {display:table-cell; padding-left:1em; color:dimgray;}
.ex {display:table-cell; padding-left:0.25em; color:gray;}
.line {display:block;}

hr.hr_extra {padding-top:0.5em; height:1px; border:none; border-bottom:1px black dashed;}
.ex_mark {display:none;}
.extra_ch {display:block; padding-top:0.3em; color:midnightblue; font-weight:bold;}
.extra_en {display:block;}

.z {font-weight:bold;}
.z_d {display:none;}

.x_ch {display:block; font-size:120%; color:midnightblue; font-weight:bold;}
a.x_z {color:midnightblue; font-weight:bold;}
.x_en {display:block;}