@charset "UTF-8";
@font-face {
  font-family: "Bookerly";
  src: url("Bookerly.ttf") format("truetype");
}

@font-face {
  font-family: "Source Han Serif CN";
  src: url("SourceHanSerifCN-Regular.ttf") format("truetype");
}

.xsjhy20sep {
  /* 字体大小在这儿设置 */
  font-size: 16px;
  font-family: "Source Han Serif CN", "Bookerly", "Noto Sans";
}

a:link,
a:hover,
a:visited {
  color: #295785;
  text-decoration: none;
}

.fayintab.single a:link,
.fayintab.single a:hover,
.fayintab.single a:visited {
  font-family: "Source Han Serif CN";
}

.fayintab.single {
  padding-right: 0.2em;
}

.citou {
  color: #85144b;
  font-size: 130%;
  font-weight: 600;
  padding-right: 0.5em;
}

.fayin {
  font-family: "Source Han Serif CN";
  vertical-align: bottom;
}

.cixing {
  display: inline-block;
  font-size: 92%;
  color: #85144b;
  padding-right: 0.5em;
  font-weight: 600;
}

.desc {
  /* display: inline-block; */
  font-family: "Bookerly";
  color: #105591;
  /* padding-left: 1.5em; */
  /* text-indent:-1.5em; */
}

.ex.zh,
.extra.zh {
  padding-right: 0.5em;
}

.extra.en,
.ex.en {
  font-family: "Bookerly";
  color: rgb(124, 124, 124);
}

.category {
  margin-left: 0.1em;
  counter-reset: sensecounter;
}

.sense.single {
  padding-bottom: 0.3em;
}

.sense.single::before {
  font-family: "Bookerly";
  font-style: italic;
  font-size: 85%;
  border: 0px solid #85144b;
  border-radius: 2px;
  background-color: #85144b;
  color: white;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-right: 0.25em;
  border-image-width: 0;
  counter-increment: sensecounter;
  content: counter(sensecounter) ". ";
}

.sense.single:only-child::before {
  display: none;
}

.sense.single .sense {
  padding-left: 1.3em;
}

.sense.single div.ref {
  padding-left: 1.3em;
}

span.ref {
  padding-right: 0.4em;
}

span.ref.single a,
span.ref.single {
  font-family: "Bookerly", "Source Han Serif CN";
}

.sense.single div.ref::before,
.category > a::before {
  border: 0px solid white;
  color: rgb(82, 82, 82);
  background-color: #dbebf3;
  border-radius: 0.1em;
  padding-left: 0.2em;
  margin-right: 0.2em;
  font-size: 90%;
  content: "另见：";
}

.sub.desc {
  display: block;
  margin-left: 1em;
  text-indent: -1.1em;
}

.sub.desc::before {
  content: "❀ ";
}

.ex.single {
  display: block;
  margin-left: 1.8em;
  text-indent: -1.8em;
}

.ex.single::before {
  /* font-weight: 600; */
  color: #5f5f5f;
  content: "▸";
  padding-right: 0.1em;
}

.sub.single > .ex.single::before {
  margin-left: 1em;
}

/* start animation 动画定义 */
.context .head::after {
  display: inline-block;
  content: attr(indicator) "◮";
  opacity: 0.9;
  margin-left: 1.5em;
  transform-origin: 25% 55%;
}

.context .head::after {
  transform: rotate(180deg);
  opacity: 0;
}

.context .head.hide::after {
  opacity: 1;
  transform: rotate(90deg);
}

.context .head.transition::after {
  transform: rotate(180deg);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.context .head.hide.transition::after {
  transform: rotate(90deg);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.category {
  overflow: hidden;
}

.category.transition {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.3, 0, 0.65, 1),
    height 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.category.hide.transition {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.3, 0, 0.65, 1),
    height 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* end animation 动画定义 */

.mode2 .fayintab {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.mode2 .fayintab .single {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-bottom: 0.1em solid #9b1a58;
  border-left: 0.1em solid #9b1a58;
  border-top: 0.1em solid #9b1a58;
  /* margin-left: -1px; */
}

.mode2 .fayintab .single:first-child {
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.mode2 .fayintab .single:last-child {
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  border-right: 0.1em solid #9b1a58;
}

.mode2 .fayintab .single a:link,
.mode2 .fayintab .single a:hover,
.mode2 .fayintab .single a:visited,
.mode2 .fayintab .single a:focus {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  padding-left: 0.15em;
}

.mode2 .fayintab .active {
  background-color: #9b1a58;
}

.mode2 .fayintab .active a:link,
.mode2 .fayintab .active a:hover,
.mode2 .fayintab .active a:visited,
.mode2 .fayintab .active a:focus {
  font-weight: 600;
  color: white;
}

.mode2 .context {
  display: none;
}

.mode2 .context.active {
  display: block;
}

.mode2 .context.transition {
  overflow: hidden;
  display: block;
  height: 0;
  opacity: 0;
  transition: opacity 0.35s cubic-bezier(0.2, 0, 0.65, 1),
  height 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.mode2 .context.active.transition {
  overflow: hidden;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.3, 0, 0.65, 1),
  height 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}



.mode2 .fayintab.single.active a {
  /* font-size: 105%; */
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.strangechar {
  display: none;
}


.ref.main.single a {
  font-weight: 600;
}

.ref.main.single::before {
  border: 0px solid white;
  color: rgb(82, 82, 82);
  background-color: #dbebf3;
  border-radius: 0.1em;
  padding-left: 0.2em;
  margin-right: 0.2em;
  font-size: 90%;
  content: "另见主词条：";
}

.subentry .citou {
  font-weight: 500;
  font-size: 105%;
}

.subentry .head {
  margin-top: 0.5em;
}