// remove scroll bar in right side of the app
$body-overflow-y: hidden !default;
// fix overlap between the menu bar and body
$column-gap: 0 !default;
// change the minumum navbar height
$navbar-height: 3rem !default;

// css frameworks
@import "bulma/bulma";
@import "bootstrap-icons/bootstrap-icons";

.wikit-menu {
    height: 48px;
}

.wikit-list {
    height: calc(548px - 48px);
    overflow-y: scroll;
}
